<div class="container mt-4">
    <h2>Lista de Mascotas</h2>
  
    <!-- Estado de carga -->
    <div *ngIf="mascotas === undefined" class="text-center my-4">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
      <p>Cargando mascotas...</p>
    </div>
  
    <!-- Lista cuando hay datos -->
    <div *ngIf="mascotas && mascotas.length > 0">
      <ul class="d-flex flex-nowrap overflow-auto">
        <li *ngFor="let item of mascotas" class="card m-3 flex-shrink-0">
          <div class="d-flex justify-content-between align-items-center">
            <div class="card-body">
              <h4 class="card-title text-primary">Información de la Mascota</h4>
              <p><strong>ID:</strong> {{item.idMascota}}</p>
              <p><strong>Nombre:</strong> {{item.nombre}}</p>
              <p><strong>Raza:</strong> {{item.raza}}</p>
              <p><strong>Edad:</strong> {{item.edad}}</p>
              <p><strong>Razon de la cita:</strong> {{item.razonCita}}</p>
              <p><strong>Cliente ID:</strong> {{item.clienteId}}</p>
              <p><strong>Responsable ID:</strong> {{item.responsableId}}</p>
              <p><strong>veterinaria ID:</strong> {{item.veterinariaId}}</p>
          </div>
            <!--
            <div>
              <h5 class="mb-1">Nombre: {{item.nombre}}</h5>
              <h5 class="mb-1">Raza: {{item.raza}}</h5>
              <h5 class="mb-1">Edad: {{item.edad}}</h5>
              <h5 class="mb-1">Razon de la Cita: {{item.razonCita}}</h5>
              <h5 class="mb-1">Cliente ID: {{item.clienteId}}</h5>
              <h5 class="mb-1">Responsable ID: {{item.responsableId}}</h5>
              <h5 class="mb-1">Veterinaria ID: {{item.veterinariaId}}</h5>
              <span class="mb-1">ID: {{item.idMascota}}</span>
            </div>
            -->
          </div>
        </li>
      </ul>
    </div>
