<div class="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div>
                    <h3>Listado de Responsables</h3>
                </div>
                <div id="buscar" class="input-group">
                    <input 
                        type="text"
                        class="form-control"
                        placeholder="Escribe el ID del responsable a buscar..."
                        aria-label="Buscar"
                        aria-describedby="Buscar"
                        
                        
                    >
                </div>
            </div>
            <div class="card-body"></div>
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>ID RESPONSABLE</th>
                        <th>NOMBRE</th>
                        <th>CONTACTO</th>
                        <th>VETERINARIA</th>
                        <th>EDITAR</th>
                        <th>ELIMINAR</th>
                        <th>MASCOTAS</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @for (responsable of responsables; track responsable.idResponsable){
                        <tr>
                            <td>{{responsable.idResponsable}}</td>
                            <td>{{responsable.nombre}}</td>
                            <td>{{responsable.contacto}}</td>
                            <td>{{obtenerNombreVeterinaria(responsable.veterinariaId)}}</td>
                            <td><button class="btn btn-warning" (click) = "editar(responsable)"> Editar</button></td>
                            <td><button class="btn btn-danger" (click) = "eliminar(responsable.idResponsable)">Eliminar</button></td>
                            <td><button class="btn btn-azul" (click) = "detalle(responsable)">Ver Detalle</button></td>
                        </tr>
                    } @empty{
                        <tr>
                            <td colspan="4" style="text-align: center;"> NO EXISTEN REGISTROS PARA MOSTRAR</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

